/* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;

} */
.contact{
    position: relative;
    min-height:100vh;
    padding:10px 100px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    background:  url("images/bg.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    
}
.contact .content{
    max-width:800px;
    text-align: center;

}
.contact .content h2{
    font-size:36px;
    font-weight: 500;
    color:#fff;

}
.contact .content p{
    
    font-weight: 300;
    color:#fff;
    
}
.container{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    
}
.container .contactInfo{
    width:50%;
    display:flex;
    flex-direction: column;
   

}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 22px;

}

.container .contactInfo .box .text{
    display:flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;

}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color:rgb(197, 248, 77);
}
.contactForm{
    width:40%;
    padding:40px;
    background: rgb(235, 235, 232);
    border-radius: 5px;
    border-style: outset;
    /* border-color: aqua; */
}
.contactForm h2{
    font-size: 30px;
    color:#333;
    font-weight: 500;
}
.contactForm h2::before{
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top:41.5%;
    left:32.5%;
    background-color:#8073fa;
}
.contactForm h2::after{
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top:41.5%;
    left:32.5%;
    margin-top: 8px;
    background-color: #26ff00;
    
}
.contactForm .inputBox
{  
    position:relative;
    width:100%;
    margin-top: 10px;
    padding-top: 10px;
    

}
 a
{  
   
    text-decoration: none;

}

.contactForm .inputBox input , .contactForm .inputBox textarea{
    width:100%;
    padding: 5px 0;
    font-size:16px;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline:none;
    resize:none;
    background: rgb(235, 235, 232);

}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size:16px;
    margin:10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
    background: rgb(235, 235, 232);

}
.contactForm .inputBox input:focus ~ span,.contactForm .inputBox input:valid ~ span,.contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:valid ~ span {
    color:#392da3;
    font-size:12px;
    transform:translateY(-20px);
}
.contactForm .inputBox [type="button"]{
    display: inline;
   max-width: 33.33%;
    background-color: #8073fa;
    color: #fff;
    font-size: 18px;
    border-radius:4px;
    line-height: 27px;
    cursor: pointer;
}
.contactForm .inputBox input[type="submit"]
{
    width:100px;
    background: #26ff00;
    color:#fff;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor:pointer;
    padding: 10px;
    margin-left: 25px;
    font-size: 18px;
}
.contactForm .inputBox input[type="submit"]:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.contactForm .inputBox input[type="button"]:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.contactForm .inputBox input:hover{
    -webkit-transform: scale(1.00);
    transform: scale(1.00);
}

